* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-green: #009b49;
  --secondary-green: #007939;
}

html {
  color: #303030;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/*---Reusable Components---*/

h1,
h2,
h3 {
  letter-spacing: 0.1rem;
}

h1 {
  margin: 0 0 1.5rem 0;
  font-size: 480%;
  font-weight: 300;
  color: #ffffff;
}

h2 {
  margin: 0 0 3rem 0;
  font-size: 360%;
  font-weight: 400;
  text-align: center;
}

h2:after {
  display: block;
  height: 0.2rem;
  background-color: var(--main-green);
  content: ' ';
  width: 15rem;
  margin: 2.5rem auto 3rem auto;
}

h3 {
  margin: 0 0 2rem 0;
  font-size: 300%;
  font-weight: 400;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

section {
  padding: 8rem 0;
}

.box {
  padding: 1%;
}

.clearfix::after {
  content: '.';
  clear: both;
  display: table;
}

/*---Paragraphs---*/

p {
  line-height: 145%;
  font-size: 200%;
}

/*---Links---*/

a:link,
a:visited {
  color: darkgreen;
  text-decoration: none;
  border-bottom: 0.1rem solid darkgreen;
  padding-bottom: 0.1rem;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #303030;
  border-bottom: 0.1rem solid transparent;
}

/*---Main-Nav---*/

.navigation__checkbox {
  display: none;
}

.nav-toggle__button {
  background-color: transparent;
  border: 3px solid var(--main-green);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 9999;
  box-shadow: 2rem 2rem 2rem rgba(black, 0.3);
  text-align: center;
  cursor: pointer;
}

.navigation__overlay {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 6.5rem;
  background-color: transparent;
  z-index: 1000;
}

.navigation__menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0;
  width: 100%;
  transition: all 1s ease;
  display: none;
}

.navigation__checkbox:checked ~ .navigation__menu {
  opacity: 1;
  display: inline-block;
}

.navigation__list {
  position: absolute;
  list-style: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  text-align: center;
  border-bottom: 0.2rem solid var(--main-green);
}

.navigation__item {
  margin: 1rem auto;
  text-align: center;
  display: inline-block;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  margin: 0 3rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s;
  border-bottom: none;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: var(--secondary-green);
  transform: translateX(1rem);
}

.navigation__icon {
  position: relative;
  margin-top: 3.1rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--main-green);
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.nav-toggle__button:hover .navigation__icon::before {
  top: -1.1rem;
}

.nav-toggle__button:hover .navigation__icon::after {
  top: 1.1rem;
}

.navigation__checkbox:checked + .nav-toggle__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .nav-toggle__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .nav-toggle__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/*---Header---*/

header {
  background-image: linear-gradient(rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0.7)),
    url('./images/hero1920.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 7rem;
  width: auto;
  position: absolute;
  top: 3rem;
  left: 6rem;
}

.hero__head-line {
  animation-name: slideFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hero__sub-head-line {
  color: #ffffff;
  animation-name: slideFromRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hero__text-box {
  position: absolute;
  width: 114rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.hero__button:link,
.hero__button:visited,
.hero__button--ghost:link,
.hero__button--ghost:visited,
.submit {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 20rem;
  color: #ffffff;
  font-size: 200%;
}

.hero__button:link,
.hero__button:visited,
.submit {
  background-color: var(--main-green);
  border: 1px solid rgb(0, 53, 25);
  transition: background-color 0.2s, border 0.2s;
  margin-right: 1.5rem;
  cursor: pointer;
}

.submit:hover,
.submit:active,
.hero__button:hover,
.hero__button:active {
  background-color: var(--secondary-green);
  border: 1px solid rgb(0, 15, 7);
  text-shadow: 0.1rem 0.3rem 0.3rem #111;
}

.hero__button--ghost:link,
.hero__button--ghost:visited {
  border: 1px solid var(--main-green);
  transition: background-color 0.2s;
}

.hero__button--ghost:hover,
.hero__button--ghost:active {
  background-color: var(--secondary-green);
  border: 0.1rem solid rgb(0, 53, 25);
}

.hero__button--animate {
  animation: riseUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

a.scroll-arrow {
  color: #fff;
  transition: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 5%;
  font-size: 5rem;
  text-align: center;
  line-height: 4rem;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;

  -webkit-animation: fade-move-down 2s ease-in-out infinite;
  -moz-animation: fade-move-down 2s ease-in-out infinite;
  animation: fade-move-down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade-move-down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes fade-move-down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes fade-move-down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

/*---Features---*/

.features-box {
  text-align: center;
  padding: 2.5rem;
  transition: transform 0.3s;
}

.features-box:hover {
  transform: translateY(-1.8rem) scale(1.06);
}

.features__h3 {
  font-size: 220%;
  margin-bottom: 1.5rem;
}

.features__flex {
  display: flex;
  justify-content: stretch;
}

.features__copy {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4rem;
}

.features__para {
  font-size: 180%;
  line-height: 145%;
}

.icon--big {
  height: 6rem;
  width: 6rem;
  display: inline-block;
  fill: #028a41;
  margin-bottom: 1rem;
}

/*---Prices---*/

.section-price {
  background-color: #f4f4f4;
}

.price__flex {
  display: flex;
  justify-content: stretch;
}

.price-box {
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0.5rem 0.5rem 0.2rem #efefef;
}

.price {
  background-color: #fcfcfc;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1.5rem;
  border-bottom: 0.1rem solid #e8e8e8;
}

.price__intro {
  text-align: left;
  margin-bottom: 6rem;
}

.price__plan {
  color: darkcyan;
  margin-bottom: 1rem;
  font-size: 440%;
}

.price-info {
  list-style: none;
  padding: 1.5rem;
  border-bottom: 0.1rem solid #e8e8e8;
}

.price-info__icon {
  margin-right: 1rem;
  fill: darkgreen;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 120%;
  vertical-align: middle;
}

.price-info__li {
  padding: 0.5rem 0;
  font-size: 180%;
}

.consultation {
  padding: 1.5rem;
  border-bottom: 0.1rem solid #e8e8e8;
  text-align: center;
  border: 0;
}

.consultation__btn,
.consultation__btn:link,
.consultation__btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: 1px solid var(--main-green);
  color: #000;
  background-color: transparent;
}

.hvr-radial-out {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-green);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/*---FAQ Accordian---*/

.faq {
  display: flex;
  width: 60%;
  margin: 2rem auto;
}

.faq .row {
  flex: 1 1 114rem;
}

.faq .row h3 {
  text-align: center;
  margin: 4rem 0 2.5rem 0;
}

.faq__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.2rem 0.4rem 0.4rem -0.2rem rgba(0, 0, 0, 0.6);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  background-color: var(--main-green);
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background-color: var(--secondary-green);
}

.tab-label::after {
  content: '\276F';
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  transition: all 0.3s;
}

.tab-content {
  max-height: 0;
  background: white;
  color: #303030;
  transition: all 0.3s;
  padding: 0 1.4rem;
}

.tab-content p {
  font-size: 170%;
  padding: 1rem 0.3rem;
}

.faq__input:checked + .tab-label {
  background: var(--secondary-green);
}

.faq__input:checked + .tab-label::after {
  transform: rotate(90deg);
}

.faq__input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1.4rem;
}

/*---App---*/

.app-box {
  margin-top: 5.5rem;
  display: flex;
}

.app-box__left {
  text-align: right;
  padding-right: 3%;
  margin: 1% 0 1% 0;
  width: 49.2%;
  display: flex;
  justify-content: flex-end;
}

.app-box__right {
  padding-left: 3%;
  padding-top: 1rem;
  text-align: left;
  margin: 1% 0 1% 1.6%;
  width: 49.2%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  position: relative;
}

.app__photo {
  width: 55%;
  border: 0.4rem solid black;
  outline-offset: 2rem;
  transition: all 0.5s;
}

.app__photo:hover {
  outline: 0.3rem dashed #02ccd6;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.app-steps {
  margin-bottom: 7rem;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: translate(10rem, 0);
}

.app-steps.show {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

.app-steps:last-of-type {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.app-steps div {
  color: #02ccd6;
  border: 0.2rem solid #02ccd6;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 3rem;
  padding: 0.5rem;
  line-height: 2.8rem;
  float: left;
  margin-right: 2.5rem;
  margin-bottom: 3.5rem;
}

.app__button,
.app-popup__submit-btn {
  background-color: #02ccd6;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  padding: 1.2rem 3rem;
  font-size: 2rem;
}

.app__button:hover,
.app__button:active,
.app-popup__submit-btn:hover,
.app-popup__submit-btn:active {
  outline: none;
  border: 0.2rem solid #000;
}

/*---App Popup---*/

.app-popup__container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.app-popup__container.show-popup {
  display: block;
}

.app-popup {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 40rem;
  animation-name: app-popup-open;
  animation-duration: 1s;
}

.app-popup__header {
  background-color: #02ccd6;
  color: #fff;
  padding: 1.5rem;
}

.app-popup__header h3 {
  margin: 0;
}

.app-popup__content {
  padding: 2rem;
}

.app-popup__form div {
  margin: 1.5rem 0;
}

.app-popup__form label {
  display: block;
  margin-bottom: 0.5rem;
}

.app-popup__form .app-popup__form-input {
  padding: 0.8rem;
  width: 100%;
}

.app-popup__close-btn.js-close {
  color: #fff;
  font-size: 4rem;
  border-bottom: none;
  position: absolute;
  top: 0;
  right: 0;
}

.app-popup__submit-btn {
  display: block;
  margin: 1rem auto;
}

@keyframes app-popup-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*---New-Location---*/

.new-loc {
  background-color: #f4f4f4;
  padding-bottom: 0;
}

.new-loc__para {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4rem;
}

.new-loc__images {
  list-style: none;
  width: 100%;
}

.new-loc__images li {
  display: block;
  float: left;
  width: 25%;
}

.blackrock-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.blackrock-photo img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.blackrock-photo img:hover,
.blackrock-photo img:active {
  transform: scale(1.03);
  opacity: 1;
}

/*---Locations---*/

.section-locations {
  background-color: #f4f4f4;
}

.section-locations h2 {
  margin-bottom: 8rem;
}

.locations__flex {
  display: flex;
  justify-content: stretch;
}

.locations {
  margin: 1% 0;
  width: 25%;
}

.contact-info {
  list-style: none;
}

.contact-info li {
  font-size: 180%;
  line-height: 145%;
  margin-bottom: 0.5rem;
}

.contact-info li a {
  border-bottom: none;
}

.contact-info__icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  fill: darkgreen;
  display: inline-block;
  text-align: center;
  line-height: 120%;
  vertical-align: middle;
}

.locations__photo {
  width: 100%;
  height: auto;
  border: 0.1rem solid rgb(34, 34, 34);
  margin-bottom: 1.5rem;
}

/*---Treatments---*/

.treatments__flex {
  display: flex;
  justify-content: stretch;
}

.treatment__box {
  margin: 1% 0;
  width: 33%;
}

.treatment {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 38rem;
}

.treatment__card {
  height: 38rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 2rem 2rem 4rem rgba(black, 0.3);
  color: #fff;
  font-size: 2.1rem;
  transition: all 0.8s ease;
  backface-visibility: hidden;
}

.treatment__card--front {
  background-image: linear-gradient(to right bottom, #009b49, #004621);
}

.treatment__card--back {
  transform: rotateY(180deg);
}

.treatment:hover .treatment__card--front {
  transform: rotateY(-180deg);
}

.treatment:hover .treatment__card--back {
  transform: rotateY(0);
}

.card__back--gradient {
  background-image: linear-gradient(to right bottom, #00f071, #004621);
}

.card__photo {
  background-size: cover;
  background-blend-mode: hard-light;
  height: 25rem;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.card__photo--1 {
  background-image: linear-gradient(to bottom, rgba(33, 33, 33, 0.2), rgba(33, 33, 33, 0.2)),
    url('./images/dentalhome.jpg');
}

.card__photo--2 {
  background-image: linear-gradient(to bottom, rgba(33, 33, 33, 0.2), rgba(33, 33, 33, 0.2)),
    url('./images/extraction.jpg');
}

.card__photo--3 {
  background-image: linear-gradient(to bottom, rgba(33, 33, 33, 0.2), rgba(33, 33, 33, 0.2)),
    url('./images/whitening.jpg');
}

.card-front__text {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 3.5rem;
  margin: 0 auto;
  width: 80%;
}

.card__back--box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  display: inline-block;
}

.treatment__card .card__back--box p {
  padding: 4rem 0;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
  border-bottom: 2px solid rgb(184, 184, 184);
  margin-bottom: 3rem;
  width: 90%;
  margin: 0 auto;
}

.treatment__card .card__back--box .card__back--button {
  padding: 1.5rem 4rem;
  margin-top: 3rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 300;
  border-radius: 10rem;
  display: inline-block;
  vertical-align: middle;
}

.hvr-outline-out {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #ffffff solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
  border-radius: 10rem;
}

.hvr-outline-out:hover:before,
.hvr-outline-out:focus:before,
.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

.treatment__learn {
  display: inline-block;
  text-align: center;
  margin: 3rem auto 1rem auto;
  width: 100%;
}

.treatment__learn a:link,
.treatment__learn a:visited {
  font-size: 2rem;
  color: #004621;
  border-bottom: 1px solid #004621;
  padding: 3px;
  transition: all 0.2s;
}

.treatment__learn a:hover,
.treatment__learn a:active {
  color: #fff;
  background-color: #004621;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem);
}

/*---Treatment Popup---*/

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.popup__box {
  background-image: url('./images/treatments1920.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.4s;
  max-width: 114rem;
}

.popup__left-column {
  width: 60%;
  display: table-cell;
  vertical-align: middle;
  padding: 2rem 4rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  text-align: center;
}

.popup__left-column h3 {
  font-size: 270%;
}

.popup__right-column {
  width: 40%;
  display: table-cell;
}

.popup__paragraph {
  font-size: 1.6rem;
  margin: 3rem 0 4rem 0;
  text-align: left;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid rgb(128, 128, 128);
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid rgb(128, 128, 128);
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__box {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup__exit:link,
.popup__exit:visited {
  color: rgb(36, 35, 35);
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}

.popup__exit:hover {
  color: var(--main-green);
}

/*---Testimonials---*/

.section-testimonials {
  background-image: linear-gradient(rgba(70, 70, 70, 0.8), rgba(0, 0, 0, 0.8)),
    url('./images/background.jpg');
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

.section-testimonials blockquote {
  font-style: italic;
  padding: 2%;
  line-height: 145%;
  font-size: 200%;
  position: relative;
}

.section-testimonials blockquote:before {
  content: '\201C';
  font-size: 300%;
}

.section-testimonials blockquote:after {
  content: '\201D';
  font-size: 200%;
  position: absolute;
}

.section-testimonials__person {
  font-size: 200%;
  display: block;
  margin-bottom: 3rem;
  text-align: center;
}

.section-testimonials__person img {
  border-radius: 50%;
  border: 0.1rem solid green;
  height: 7.5rem;
  margin-right: 1rem;
  vertical-align: middle;
}

/* Slideshow */

.slideshow__container {
  position: relative;
}

.slideshow__slide {
  display: none;
}

.slideshow__slide.show-slide {
  display: block;
  animation: show-slide 0.8s ease-in;
}

@keyframes show-slide {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideshow__controls {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

/* On hover, change color */
.prev:hover,
.next:hover {
  color: var(--main-green);
  border-bottom: 0;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 0 2rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: var(--main-green);
}

/*---Contact-Form---*/

.contact-form {
  width: 70%;
  margin: 5rem auto 0 auto;
  font-size: 200%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 5rem) 10rem 4rem 5rem;
  grid-row-gap: 1rem;
}

input[type='text'],
input[type='email'],
input[type='date'],
select,
textarea {
  height: 100%;
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
}

input[type='checkbox'] {
  margin: 1rem 0.5rem 1rem 0;
}

input.submit {
  font-size: 100%;
  outline: none;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.success input {
  border-color: rgb(14, 134, 14);
}

.error input {
  border-color: rgba(238, 20, 20);
}

.error-message {
  display: none;
  color: rgba(238, 20, 20);
  font-size: 85%;
  margin-top: 0.5rem;
}

.error .error-message {
  display: block;
}

/*---Footer---*/

footer {
  background-color: #333;
  color: #888;
  padding: 5rem;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  list-style: none;
  font-size: 180%;
}

.social-links {
  list-style: none;
}

.footer__link {
  display: inline-block;
  margin-right: 2rem;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer__link a:link,
.footer__link a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav .footer__link a:active,
.footer-nav .footer__link a:hover {
  color: #ddd;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
  fill: #888;
}

.social-links__twitter,
.social-links__facebook,
.social-links__instagram,
.social-links__linkedin {
  transition: color 0.2s;
}

.social-links__twitter:hover {
  fill: #1da1f2;
}

.social-links__instagram:hover {
  fill: #c32aa3;
}

.social-links__linkedin:hover {
  fill: #007bb5;
}

.social-links__facebook:hover {
  fill: #3b5998;
}

.footer__para {
  text-align: center;
  font-size: 140%;
  margin-top: 3.5rem;
}
